 <!doctype html>
<html>
	<head>
		<title>Inicio</title>
			<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<style>
			code {
			font-family: monospace;
			}
		</style>
	</head>
	<body>
		<header>

    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Resolución Prueba Resuelve</a>
      </div>
    </nav>
		</header>
		<br/>
		<section class="content">
			 <div class="row" style="margin-bottom: 0px;">
      <div class="col s12 m4 l2"><p></p></div>
      <div class="col s12 m4 l8">
         <div class="card blue darken-3">
            <div class="card-content white-text">
               <span class="card-title"><h3>Bienvenido a la página de inicio</h3></span>
               <p>Esta página se muestra de forma predeterminada en la raíz del sitio. Para poder acceder a los
                  servicios web, deberás accederlos con una petición POST a las rutas siguientes: </p>
         </div>
         </div>
      </div>
      <div class="col s12 m4 l2"><p></p></div>
   </div>
   <div class="row">
      <div class="col s6">
         <div class="card teal darken-2">
            <div class="card-content white-text">
               <span class="card-title"><strong>/resuelve/receive-levels</strong></span>
               <p>Este endpoint sólo admite peticiones POST y recibe a la entrada un JSON del tipo:</p>
               <pre>
               <code>
[
   {
      "nivel" : "A",
      "goles_minimos" : 5
   },
   {
      "nivel" : "B",
      "goles_minimos" : 10
   },
   {
      "nivel" : "C",
      "goles_minimos" : 15
   },
   {
      "nivel" : "Cuauh",
      "goles_minimos" : 20
   }
]
               </code>
            </pre>
            <p>Devuelve un JSON con los niveles que se procesaron correctamente.</p>
            </div>
         </div>
      </div>
      <div class="col s6">
         <div class="card light-blue darken-2">
            <div class="card-content white-text">
               <span class="card-title"><strong>/resuelve/calculate-salaries</strong></span>
               <p>Este endpoint sólo admite peticiones POST y recibe a la entrada un JSON del tipo:</p>
               <pre>
               <code>
[
   {
      "nombre":"Juan Perez",
      "nivel":"C",
      "goles":10,
      "sueldo":50000,
      "bono":25000,
      "sueldo_completo":null,
      "equipo":"rojo"
   },
   {
      "nombre":"EL Cuauh",
      "nivel":"Cuauh",
      "goles":30,
      "sueldo":100000,
      "bono":30000,
      "sueldo_completo":null,
      "equipo":"azul"
   }
]</code></pre>
            <p>Devuelve un JSON con los jugadores y su <b>sueldo_completo</b> calculado.</p>
            </div>
         </div>
      </div>
   </div>
		</section>
		<footer class="page-footer blue darken-4">
      <div class="container">
         <div class="row">
            <div class="col l6 s12">
               <h5 class="white-text">Solución al problema de ingeniería Resuelve</h5>
               <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-3" href="https://github.com/iangelmx/solucion-problema-resuelve">El código fuente de la solución está disponible aquí</a>.</p>
            </div>
            <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Follow me</h5>
               <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/iangelmx/">Github</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="footer-copyright">
         <div class="container">
            2020 Todos los derechos reservados

         </div>
      </div>
   </footer>
	</body>
</html>
